---
import Layout from '@/layouts/Layout.astro';
---
<Layout title='Contacto' description='Ponte en contacto con Tronefilms para más información sobre nuestros proyectos cinematográficos.'>
    <section class="mx-auto text-center mb-8 lg:mb-16">
        <h1 class="mb-4 text-5xl tracking-tight font-extrabold">Contacto</h1>
        <p class="mb-8 text-lg font-normal">Si tienes alguna pregunta o deseas colaborar con nosotros, no dudes en ponerte en contacto.</p>
        
    </section>
</Layout>