---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/header-index.astro';
import Logo from '@/components/Logo.astro';
---

<Layout title='Tronefilms' description='Tronefilms es una pequeña productora de cine y cortometrajes creada por un grupo de amigos apasionados por el cine.'>
	<Header slot="header" />
	<h1 class="mb-4 text-5xl tracking-tight font-extrabold">Tronefilms</h1>
	<p class="mb-8 text-lg font-normal">Tronefilms es una pequeña productora de cine y cortometrajes creada por un grupo de amigos apasionados por el cine.</p>
</Layout>
