---
import Logo from "./Logo.astro";
const navPages = [
    { name: "Proyectos", href: "/projects" },
    { name: "Sobre Nosotros", href: "/about" },
    { name: "Contacto", href: "/contact" },
];
---

<header
    class="flex flex-col md:flex-row items-center justify-between py-4 w-full px-4 md:px-32 bg-neutral-800 drop-shadow-2xl border-b border-neutral-700"
>
    <a href="/" class="flex items-center text-lg font-bold mb-4 md:mb-0">
        <Logo class="h-12 hover:scale-105 transition-all" />
    </a>
    <div class="flex-1 flex justify-center">
        <ul class="flex flex-col md:flex-row items-center gap-4 md:gap-12 font-semibold text-base w-full md:w-auto justify-center">
            {
                navPages.map((item) => (
                    <li class="hover:text-gray-300 p-3 cursor-pointer w-full md:w-auto text-center">
                        <a
                            class="group transition duration-300"
                            aria-current="page"
                            href={item.href}
                        >
                            {item.name}
                            <span class="block h-0.5 bg-neutral-200 opacity-0 group-hover:opacity-100 transition-opacity duration-500"></span>
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
</header>
