---
import '@/styles/global.css';
import Navbar from '@/components/navbar.astro';
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
	description: string;
}
const { title, description } = Astro.props;
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg">
		<meta name="description" content={description} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<Navbar />
		<slot />
	</body>
</html>

<style is:global>
	html {
		background: #343434;
		background-size: 224px;
		color-scheme: dark light;
		color: white;
		font-family: system-ui, sans-serif;

	},
	body{
		overflow-x: hidden;
		overscroll-behavior: none;
	}
</style>
